/* Google Font - Outfit */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

html {
    background: #1E1E1E;
}

/* Global CSS */
.outfit {
    font-family: "Outfit", sans-serif;
}
.text-primary-color{
    color: #080808;
}
.bg-secondary-color {
    background-color: #0874F2;
}
.divider {
    &:before, &:after {
        background-color: rgb(8 8 8 / 15%);
        height: 1px;
    }
}
